* {
    box-sizing: border-box;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    color: #333;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #228;
}